.App {
    --header_height: 60px;
    /*font-family: Montserrat;*/
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

}

.hw {
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
    font-family: 'Montserrat', sans-serif;
}

.hwTitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 70px;
    margin-left: 107px;
    margin-bottom: 34px;
}