.friendMessage {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.friendImageAndText {
    display: flex;
    flex-direction: row;
    position:relative;
    margin-left: 70px;
}

.friendImageAndText img {
    display: flex;
    align-items: flex-start;
    width: 48px;
    height: 48px;
    /*margin-top: 1%;*/
    margin-left: 70px;
    position:absolute;
    bottom: 0px;
    left: -60px;
}

.friendText {
    background: #F5F7FB;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    width: 527px;
    height: 60px;
    border-radius: 10px 10px 10px 0px;
    /* identical to box height */
    margin-right: 20px;
    color: black;
    position: relative;
    justify-content: flex-end;
    margin-right: 25px;
    height: 100%;
    margin-left: 70px;
}

.friendText:after {
    content: "";
    position: absolute;
    right: 98.5%;
    bottom: 0;
    width: 0;
    height: 0;
    /*border: 1px solid #F0D900;*/
    /*border-radius: 10px 100px 0px 0px;*/
    border-bottom: 20px solid #F5F7FB;
    border-left: 20px solid transparent;
    box-shadow:  0px 1px 0px rgba(29, 33, 38, 0.05);
}

.friendName {
    display: flex;
    justify-content: flex-start;
    margin-left: 25px;
    margin-top: 7px;
    margin-bottom: 3px;
    color: #000000;

    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

.friendMessageText {
    display: flex;
    justify-content: flex-start;
    margin-right: 25px;
    margin-bottom: 8px;
    color: #000000;
    width: 527px;
    height: 100%;
    padding: 0 25px;
    word-break: break-word;
    white-space: pre-wrap;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.friendTime {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    flex-direction: column;
    margin-left: 88px;
    margin-top: 5px;
    width: 29px;
    height: 12px;
    left: 80px;
    top: 340px;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
}
